
<div class="row">
	<div class="large-12 columns">
		<% if user_signed_in? %>
			<%= link_to "Create an article", new_article_path %>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<div id="articles">
			<% if !@articles.empty? %>
				<%= render @articles %>
			<% else %>
				No articles available
			<% end %>
		</div>
	</div>
</div>