<% if user_signed_in? %>
	<div class="row">
		<div class="large-12 columns">
			<%= link_to "Create an article", new_article_path, class:"small button" %>
		</div>
	</div>

	<hr />
<% end %>

<div class="row">
	<div class="large-12 columns">
		<div id="articles">
			<% if !@articles.empty? %>
				<%= render @articles %>
			<% else %>
				No articles available
			<% end %>
		</div>
	</div>
</div>